<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        div.cart {
            margin-top: 50px;
        }
        input.quantity {
            width: 20%;
            float: left;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container cart" id="app">
    <div class="row">
        <div class="col-md-8">
            <h1>Cart</h1>
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr v-for="(product,index) in products">
                        <td>{{++index}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.price}}$</td>
                        <td>{{product.quantity}}</td>
                        <td>
                            <input type="number" class="form-control quantity" v-model.number="product.quantity">
                            <button class="btn btn-danger" @click="deleteProduct(product)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h1>New item</h1>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" v-model="product.title">
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="text" class="form-control" v-model.number="product.price">
            </div>
            <div class="form-group">
                <button class="btn btn-success" @click="addProduct()">Add item</button>
            </div>
        </div>
    </div>
    <h4>Quantity items: {{totalQuantity}}</h4>
    <h4>Total price: {{totalPrice}}$</h4>
    <span class="alert alert-success" v-if="status">Order created</span>
    <button class="btn btn-warning" @click="makeOrder(product)">Create order</button>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.js"></script>
    <script>
        const app = new Vue({
           el:'#app',
           data: {
               products:[],
               status: false,
               product:{
                   title:null,
                   price:null,
                   quantity:null
               }
           },
           methods:{
               addProduct(){
                   var newProduct = {
                       title: this.product.title,
                       price: this.product.price,
                       quantity: 1
                   }

                   this.products.push(newProduct);

                   this.product.title = null;
                   this.product.price = null;

                   reqwest({
                       url: '/addProduct.php'
                       , method: 'post'
                       , data: { product: newProduct }
                       , success: function (resp) {

                       }
                   })
               },
               makeOrder(){
                   this.status = true;

                   //query in database where id = product.id
               },
               deleteProduct(product){
                   this.products.splice(this.products.indexOf(product),1);

                   //query in database where id = product.id
               }
           },
            mounted(){
               const vm = this;
                reqwest('/products.php', function (resp) {
                    //console.log(resp);
                    vm.products = JSON.parse(resp);
                })
               //download datas from server
            },
            computed:{
               totalQuantity(){
                   return this.products.reduce((sum, product) => {
                       return sum + product.quantity;
                   },0);
               },
                totalPrice(){
                    return this.products.reduce((sum, product) => {
                        return sum + product.price * product.quantity;
                },0);
                }
            }
        });
    </script>
</body>
</html>